Source Code/Azure/PL_COPY_MULTIPLE_FILES_CSV_TO_PARQUET_support_live/pipeline/PL_COPY_MULTIPLE_FILES_CSV_TO_PARQUET.json
{
    "name": "PL_COPY_MULTIPLE_FILES_CSV_TO_PARQUET",
    "properties": {
        "activities": [
            {
                "name": "Lookup Metadata Table",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "JOB_LOG-PRE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SnowflakeV2Source",
                        "exportSettings": {
                            "type": "SnowflakeExportCopyCommand"
                        }
                    },
                    "dataset": {
                        "referenceName": "SNOWFLAKE_IOWA_DS",
                        "type": "DatasetReference",
                        "parameters": {
                            "SCHEMA_NAME": {
                                "value": "@pipeline().parameters.AUDIT_SCHEMA_NAME",
                                "type": "Expression"
                            },
                            "TABLE_NAME": {
                                "value": "@pipeline().parameters.AUDIT_TABLE_NAME",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach File",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup Metadata Table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup Metadata Table').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy Data ADLS to SNOWFLAKE DB",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "COLUMN MAPPING",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.05:0:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": false,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings",
                                        "copyBehavior": "PreserveHierarchy"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings"
                                    }
                                },
                                "enableStaging": false,
                                "enableSkipIncompatibleRow": false,
                                "translator": {
                                    "value": "@json(activity('COLUMN MAPPING').output.firstRow.COLUMN_MAPPING)",
                                    "type": "Expression"
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ADLS_DL_FL",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "FilePath": {
                                            "value": "@item().SRC_FILE_PATH",
                                            "type": "Expression"
                                        },
                                        "FileName": {
                                            "value": "@item().SRC_FILE_NAME",
                                            "type": "Expression"
                                        },
                                        "ColumnDelimiter": {
                                            "value": "@item().SRC_DELIMITER",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DS_PARQUET_ADLS_IOWA",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "FILE_PATH": {
                                            "value": "@item().TGT_FILE_PATH",
                                            "type": "Expression"
                                        },
                                        "FILE_NAME": {
                                            "value": "@item().TGT_FILE_NAME",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Script1",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "Copy Data ADLS to SNOWFLAKE DB",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "linkedServiceName": {
                                "referenceName": "SNOWFLAKE_IOWA_LS",
                                "type": "LinkedServiceReference"
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "type": "Query",
                                        "text": {
                                            "value": "UPDATE @{concat(pipeline().parameters.AUDIT_SCHEMA_NAME,'.',pipeline().parameters.AUDIT_TABLE_NAME)}\nSET SOURCE_COUNT = @{activity('Copy Data ADLS to SNOWFLAKE DB').output.rowsRead},\nTARGET_COUNT = @{activity('Copy Data ADLS to SNOWFLAKE DB').output.rowsCopied},\nDURATION = @{activity('Copy Data ADLS to SNOWFLAKE DB').output.copyDuration},\nUPDATE_DATE = GETDATE()\nWHERE SRC_FILE_NAME = '@{item().SRC_FILE_NAME}';",
                                            "type": "Expression"
                                        }
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            }
                        },
                        {
                            "name": "COLUMN MAPPING",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "SnowflakeV2Source",
                                    "query": {
                                        "value": "SELECT \n      '{ \"type\": \"TabularTranslator\", \"mappings\": [' || \n      LISTAGG(\n          '{\"source\": {\"name\": \"' || SRC_COLUMN_NAME || '\", \"type\": \"' || SRC_COLUMN_TYPE || '\", \"physicalType\": \"' || SRC_PHYSICAL_TYPE || '\"}, \"sink\": {\"name\": \"' || TGT_COLUMN_NAME || '\", \"physicalType\": \"' || TGT_PHYSICAL_TYPE || '\"}}'\n      , ', ') || \n      ']}'\n  AS COLUMN_MAPPING\n  FROM AUDIT.STTM_CSV_PARQUET\n  WHERE SRC_FILE_NAME = '@{item().SRC_FILE_NAME}';",
                                        "type": "Expression"
                                    },
                                    "exportSettings": {
                                        "type": "SnowflakeExportCopyCommand"
                                    }
                                },
                                "dataset": {
                                    "referenceName": "SNOWFLAKE_IOWA_DS",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "SCHEMA_NAME": {
                                            "value": "AUDIT",
                                            "type": "Expression"
                                        },
                                        "TABLE_NAME": {
                                            "value": "STTM_CSV_PARQUET",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "JOB_LOG-PRE",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "AUDIT_JOB_LOG",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "JOB_NAME": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                        },
                        "JOB_RUN_ID": {
                            "value": "@pipeline().RunId",
                            "type": "Expression"
                        },
                        "STATUS": {
                            "value": "\"STARTED\"",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "JOB_LOG-POST",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "ForEach File",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "AUDIT_JOB_LOG",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "JOB_NAME": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                        },
                        "JOB_RUN_ID": {
                            "value": "@pipeline().RunId",
                            "type": "Expression"
                        },
                        "STATUS": {
                            "value": "\"COMPLETED\"",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "JOB_LOG-FAIL",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "ForEach File",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "AUDIT_JOB_LOG",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "JOB_NAME": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                        },
                        "JOB_RUN_ID": {
                            "value": "@pipeline().RunId",
                            "type": "Expression"
                        },
                        "STATUS": {
                            "value": "\"FAILED\"",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "AUDIT_SCHEMA_NAME": {
                "type": "string",
                "defaultValue": "AUDIT"
            },
            "AUDIT_TABLE_NAME": {
                "type": "string",
                "defaultValue": "METADATA_DLMTR_PARQUET"
            }
        },
        "variables": {
            "FileName": {
                "type": "String"
            }
        },
        "folder": {
            "name": "IOWA_SNOWFLAKE"
        },
        "annotations": [],
        "lastPublishTime": "2024-08-14T21:47:42Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}